APP_ENV=local
TOKEN_TTL_SEC=3600
REFRESH_TTL_SEC=28800
PRIVATE_KEY="cJYTepsuRZFF5zNifADEow3poXxIte9b"
AZ_KV_URI="https://my-keyvault.vault.azure.net/"
AZ_KVS_COSMOS_DB="my-cosmos-server"
COSMOS_DB_NAME="cosmos-auth-db"
PORT=80